@font-face {
    font-family: 'HvDTrial Brevia';
    src: url('HvDTrial_Brevia-Medium.woff2') format('woff2'),
        url('HvDTrial_Brevia-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brevia';
    src: url('HvDTrial_Brevia-Regular.woff2') format('woff2'),
        url('HvDTrial_Brevia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brevia';
    src: url('HvDTrial_Brevia-Black.woff2') format('woff2'),
        url('HvDTrial_Brevia-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brevia';
    src: url('HvDTrial_Brevia-Light.woff2') format('woff2'),
        url('HvDTrial_Brevia-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brevia';
    src: url('HvDTrial_Brevia-Bold.woff2') format('woff2'),
        url('HvDTrial_Brevia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brevia';
    src: url('HvDTrial_Brevia-ExtraBlack.woff2') format('woff2'),
        url('HvDTrial_Brevia-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HvDTrial Brevia';
    src: url('HvDTrial_Brevia-SemiBold.woff2') format('woff2'),
        url('HvDTrial_Brevia-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

